<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Space Canvas</title>
</head>
<body>
<h1 class="container">
  <!-- LEFT SIDE OF SCREEN FOR TEXT-->
  <div class="left">
    <h1>Space Canvas</h1>
    <p> THIS IS THE DISCRIPTION OF THE APP WE MADE</p>
    <div class="button-container">
      <a href="login"> Log In </a>
      <a href="register"> Register </a>
    </div>
  </div>
   <video width = "320" height="240" autoplay muted controls="controls">
      <source src="/assets/test.mp4" type="video/mp4">
      Video could not be loaded.
   </video>
</h1>
</body>
</html>