<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css" />
    <title>Space Canvas</title>
</head>
<body>
<div class="container">
    <h1>SOL∀R</h1>
    <p>
        A fun way for students to learn the galaxy and a tool for teachers to
        track their students across multiple classes.
    </p>
    <div class="button-container">
      <a href="login"> Log In </a>
      <a href="register"> Register </a>
    </div>
   <video muted controls="controls">
      <source src="/assets/test.mp4" type="video/mp4">
      Video could not be loaded.
   </video>
</div>
</body>
</html>