<head>
  <meta charset="ISO-8859-1">
  <link rel="stylesheet" href="/css/userstats.css" />
</head>
  <div class="container text-center">
  <h1>User Stats for <span th:text="${param.username}"></span></h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><a href="#" onclick="sortTable(0)">Activity Type</a></th>
      <th><a href="#" onclick="sortTable(1)">Grade</a></th>
      <th><a href="#" onclick="sortTable(2)">Percent Error</a></th>
      <th>Mercury</th>
      <th>Venus</th>
      <th>Earth</th>
      <th>Mars</th>
      <th>Jupiter</th>
      <th>Saturn</th>
      <th>Uranus</th>
      <th>Neptune</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stat : ${userStats}">
      <td th:text="${stat.activityType}"></td>
      <td th:text="${stat.grade}"></td>
      <td>Vector, % Error</td>
      <td>
        <span th:text="'(' + ${stat.planetValues[0].vector} + '), ' + ${stat.planetValues[0].percentError} + '%'"></span>
      </td>
      <td>
        <span th:text="'(' + ${stat.planetValues[1].vector} + '), ' + ${stat.planetValues[1].percentError} + '%'"></span>
      </td>
      <td>
        <span th:text="'(' + ${stat.planetValues[2].vector} + '), ' + ${stat.planetValues[2].percentError} + '%'"></span>
      </td>
      <td>
        <span th:text="'(' + ${stat.planetValues[3].vector} + '), ' + ${stat.planetValues[3].percentError} + '%'"></span>
      </td>
      <td>
        <span th:text="'(' + ${stat.planetValues[4].vector} + '), ' + ${stat.planetValues[4].percentError} + '%'"></span>
      </td>
      <td>
        <span th:text="'(' + ${stat.planetValues[5].vector} + '), ' + ${stat.planetValues[5].percentError} + '%'"></span>
      </td>
      <td>
        <span th:text="'(' + ${stat.planetValues[6].vector} + '), ' + ${stat.planetValues[6].percentError} + '%'"></span>
      </td>
      <td>
        <span th:text="'(' + ${stat.planetValues[7].vector} + '), ' + ${stat.planetValues[7].percentError} + '%'"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script>
  function sortTable(columnIndex) {
    const table = document.querySelector("table tbody");
    const rows = Array.from(table.rows);

    rows.sort((a, b) => {
      const cellA = a.cells[columnIndex].textContent.trim();
      const cellB = b.cells[columnIndex].textContent.trim();
      return cellA.localeCompare(cellB, undefined, { numeric: true });
    });

    rows.forEach(row => table.appendChild(row));
  }
</script>
